#cakeshop{
    width: 100%;
}

#cakeshop{
    transition-duration: .2s;
    transition-delay: 100ms;  
}

.cc p{
    font-family: 'Khula', sans-serif;
    font-size: 1.5em;
    padding-bottom: 5px;
}

.cc p{
    transition-duration: .2s;
    transition-delay: 100ms;  
}

/*======================================================================================================
==============================================MEDIA====================================================
======================================================================================================*/




@media screen and (max-width: 1500px){


    .cc p{
        max-width: 100%;
        padding: 0px;
        font-size: 1.2rem;
    }

}







@media screen and (max-width: 1250px){


/*======================================================================================================
==============================================HEADER====================================================
======================================================================================================*/



#mainbanner{
	max-width: 100%;
	height: auto;
	padding: 15px 0px 15px 0px;
	overflow: hidden;
}

#cakeshop{
    width: 85%
}




.topmenu{
    margin-right: 25px;
	display: flex;
	justify-content: space-evenly;
    gap: 15px;
	font-size: 1.5em;
    font-weight: bold;
	font-family: 'Manjari', sans-serif ;
}

li{
  
    transition-duration: .5s;
    transition-delay: 100ms;
}

li:hover{
    background-color: #77408E;
    border-radius: 10px;
    padding: 20px 20px 12.5px 20px;
    color: whitesmoke;
}

li:active{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px 20px 12.5px 20px;
    color: #77408E;
}


.appointment{
	border: solid 2.5px #77408E;
	background-color: #77408E;
	color: whitesmoke;
    margin: 0px 15px 0px 15px;
	padding: 5px 5px 5px 5px;
	border-radius: 20px;
	font-size: 1.5em;
	width: 100%;
	font-weight: lighter;
}

.appointment{
    transition-duration: .2s;
    transition-delay: 100ms;
}


.appointment:hover{
	font-weight: lighter;
	color: #77408E;
	background: #EDD4A2;
	border: solid 2.5px #77408E;
	width: 100%;
	font-size: 30px;
}




.slogan{
	text-align: center;
	font-family: 'Manjari', sans-serif ;
    font-size: 1.5em;
}

/*======================================================================================================
==============================================COTENT====================================================
======================================================================================================*/

.top{
    display: flex;
    flex-direction: column;
}

.top img{
    padding: none;
}



/*======================================================================================================
===============================================FOOTER==================================================
======================================================================================================*/


.footer-items{
	display: flex;
	justify-content: space-between;
	gap: 10px;
	padding-top: 20px;
}

.footer-items p{
	font-size: 1em;
	font-family: 'Manjari', sans-serif;	
}

#instagram, #twitter{
	max-width: 3.5%;
}

#facebook{
	max-width: 1.75%;
}

.logos{
	padding: 15px;
	display: flex;
	justify-content: center;
	gap: 25px;
}


/*======================================================================================================
===============================================SMALLER==================================================
======================================================================================================*/





@media screen and (max-width: 900px){

    .logo-plus-nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding-bottom: 20px;
    }

    #cakeshop{
        margin-left: 45px;
    }

    .topmenu{
        margin-left: 65px;
    }

    .top{
        padding: 0px;
    }

    .top img{
        width: 100%;
        padding-bottom: 25px;
    }
}


@media screen and (max-width: 800px){

    body{
        max-width: 100%;
    }

    .cc{
        max-width: 100%;
    }

    .cc img{

        width: 100%;
        height: auto;
    }

    #instagram, #twitter{
        max-width: 8%;
    }
    
    #facebook{
        max-width: 4%;
    }   
}

}

 