/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*======================================================================================================
============================================CODE START==================================================
======================================================================================================*/


body{
    background-color: #eda2d6;
	max-width: 100%;
	margin: 0 auto;
}

.cc{
	padding: 20px;
}

.head{
    background-color: #EDD4A2;
    overflow: hidden;
}

.main-content{
	background-color: #eda2d6;
	max-width: 95%;
	margin: 0 auto;
}

#child{
	height: 550px;	
}

a{
	text-decoration: none;
}


/*======================================================================================================
==============================================HEADER====================================================
======================================================================================================*/

.logo-plus-nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px 20px;
}

#mainbanner{
	max-width: 100%;
	height: auto;
	padding: 15px 0px 15px 0px;
	overflow: hidden;
}


.topmenu{
	display: flex;
	justify-content: space-evenly;
    gap: 25px;
	font-size: 1.5em;
    font-weight: bold;
	font-family: 'Manjari', sans-serif ;
}

li{
  
    transition-duration: .5s;
    transition-delay: 100ms;
}

li:hover{
    background-color: #77408E;
    border-radius: 10px;
    padding: 20px 20px 12.5px 20px;
    color: whitesmoke;
}

li:active{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px 20px 12.5px 20px;
    color: #77408E;
}


.appointment{
	border: solid 2.5px #77408E;
	background-color: #77408E;
	color: whitesmoke;
	padding: 5px 5px 5px 5px;
	border-radius: 20px;
	font-size: 30px;
	width: 100%;
	font-weight: lighter;
}

.appointment{
    transition-duration: .2s;
    transition-delay: 100ms;
}


.appointment:hover{
	font-weight: lighter;
	color: #77408E;
	background: #EDD4A2;
	border: solid 2.5px #77408E;
	width: 100%;
	font-size: 30px;
}




.slogan{
	text-align: center;
	font-family: 'Manjari', sans-serif ;
    font-size: 1.5em;
}


/*======================================================================================================
==============================================COTENT====================================================
======================================================================================================*/


.contact-us{
	font-size: 4.5em;
	padding-top: 35px;	
}

main h2{
	font-size: 3em;
	font-family: 'Manjari', sans-serif ;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: center;
}

main h3{
	font-size: 3em;
	font-family: 'Manjari', sans-serif ;
	font-weight: lighter;
	padding-top: 10px;
	padding-bottom: 10px;
}


hr{
	margin: 0px 20px 20px 20px;
	color: #77408E;
	border: solid 2px;
}



main p{
	font-family: 'Khula', sans-serif;
	font-size: 1.5em;
}

.contact-message{
	text-align: center;
	padding-bottom: 15px;
}



/*======================================================================================================
==============================================FORM FIELD================================================
======================================================================================================*/

.form-field{
	padding-bottom: 50px;
}

.contact-info{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 10px;
}


.fullname{
	width: 100%;
}

.email{
	width: 100%;
}

.topic{
	width: 100%;
	height: 20px;
	resize: none;
}

.message{
	width: 100%;
	height: 150px;
	resize: none;
}

.labeldiv{
	padding-right: 30px;
	padding-bottom: 29px;
}

#sendbutton{
	border: solid 2.5px #77408E;
	background-color: #77408E;
	color: whitesmoke;
	margin-top: 10px;
	padding: 5px 25px 5px 25px;
	border-radius: 20px;
	font-size: 30px;
	width: 100%;
	font-weight: lighter;
}

#sendbutton:hover{
	font-weight: lighter;
	color: #77408E;
	background: #eda2d6;
	border: solid 2.5px #77408E;
	width: 100%;
	font-size: 30px;
}

.map{
	overflow: hidden;
}

input, textarea{
	padding: 10px;
	margin-bottom: 15px;
	background: #77408E;
	color: whitesmoke;
}

input::placeholder{
	color: #EDD4A2;
	font-size: 1.2em;
}

textarea::placeholder{
	color: #EDD4A2;
	font-size: 1.2em;
}

/*======================================================================================================
================================================TABLE===================================================
======================================================================================================*/

.bottom h3{
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Manjari', sans-serif;
	font-size: 3em;
}

.bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
}



table{
	font-family: 'Khula', sans-serif;
	font-size: 1.5em;
	text-align: center;
}

table td{
	width: 12.5em;
	border: #77408E solid 2.5px;
	padding: 5px;
}

table tr th{
	width: 12.5em;
	border: #77408E solid 2.5px;
	background-color: #77408E;
	color: whitesmoke;
	font-weight: bold;
	padding: 5px;
}

.words{
	flex-grow: 2;
	text-align: center;
	font-size: 1.2em;
	font-family: 'Manjari', sans-serif;	
	font-weight: lighter;
}


/*======================================================================================================
===============================================FOOTER==================================================
======================================================================================================*/
#footer{
	background-color: #77408E;
	color: whitesmoke;
	padding: 15px;
}

.footer-items{
	display: flex;
	justify-content: space-between;
	gap: 15px;
	padding-top: 20px;
}

.footer-items p{
	font-size: 1.2em;
	font-family: 'Manjari', sans-serif;	
}

#instagram, #twitter{
	max-width: 3.5%;
}

#facebook{
	max-width: 1.75%;
}

.socials{
	padding: 15px;
	display: flex;
	justify-content: center;
	gap: 25px;
}

















